<div class="navbar py-3 px-4 bg-dark text-light">
<p> <%= link_to "Wikinomous", articles_path %></p>
<p> <%= link_to "New Article", new_article_path %></p>
</div>

<div class="mainbody container w-50 py-5 my-3">
  <%@articles.each do |article|%>
    <h1><%= article.title%> </h1>
    <p> <%= article.content%> </p>
  <%end%>
</div>