<div class="navbar py-3 px-4 bg-dark text-light">
<p> <%= link_to "Wikinomous", articles_path %></p>
<p> <%= link_to "New Article", new_article_path %></p>
</div>

<div class="mainbody container w-50 py-5 my-3">
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  Article was successfully created.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
</div>